extends ./layout

block content
 h1 BIENVENIDO
 #home
    img(src='/images/bienvenido.jpg')
    p Valíde sus datos o registrese si aún no es cliente
    p Después puede darnos sus requerimientos para su página de e-comerce