border-radius(pixeles)
  border-radius pixeles
  -webkit-border-radius pixeles
  -moz-border-radius pixeles

a
  color #6574F9
  text-decoration none  
       
a:hover
    text-decoration: underline

#logo
  width 15%
  margin-left 8%
  margin-top 20px
  border 3px solid #6574F9
  border-radius(15px)
  float left

  img
    margin 7px 7px 7px 7px
    width 90%

#titulo
  right 30px
  width 77%
  float right

  p
    margin-left 10%
    font-family 'Ravie', 'cursive' , 'bolt'
    color #6574F9
    font-size 45px

#barra
  float right
  width 77%
  padding-left 20%
  height 80px

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus
  background-color #6574F9
  color #fff 

#contenido
  width 84%
  min-height 500px
  height auto
  margin-left 8%
  margin-top 40px
  border 3px solid #6574F9
  border-radius(15px)
  float left
  background-color #6574F9
  
  #requerimientos
        
    h2
      text-align center
      color #FFF
      
    h3
      color #6574F9
      
    table
      width 100%
      tr td
        padding 2% 2% 2% 2%
      #req23
        text-align center
      
      #reqPortafolio   
        padding-left 2%
        width 80%
        margin 0 10% 0 10%  
        background-color #FFF
        border 3px solid #FFF
        border-radius(15px)  
            
        table
          tr td            
            padding 8px 8px 8px 8px   
            
          #celdaCentrada
            text-align center
            
      #reqPagos
        text-align center
        max-width 38%
        float left
        padding 8px 8px 8px 8px    
        margin 0 10% 0 10%  
        background-color #FFF
        border 3px solid #FFF
        border-radius(15px)  
        
        table 
          width 100%
          margin 0 10% 0 5%
          
          img
              width 20%
          
          #celdaCentrada
            text-align center
                             
            
        
      #reqPromociones
        max-width 38%
        float right
        padding 8px 8px 8px 8px   
        margin 0 10% 0 10%  
        background-color #FFF
        border 3px solid #FFF
        border-radius(15px)  


#contacto
  width 84%
  float left
  margin 5% 8% 5% 8%
  border 3px solid #6574F9
  border-radius(15px)
  background-color #6574F9
  
  #escudo
    float left
    width 42%
    text-align right
    margin-right 8%
    padding 0 8% 0 0

  #autores
    float right
    text-align center
    width 42%
    padding 2% 20% 0 0

    p
      font-family 'URW Chancery L', 'bolt'
      color #000
      font-size 25px  