html(xmlns="http://www.w3.org/1999/xhtml")
	head
		meta(http-equiv="Content-Type" content="text/html;charset=iso-8859-1")
		meta(http-equiv="Content-Style-Type" content="text/css")
		title=title
		link(rel='stylesheet', href='/css/style.css')
	body
		#body_wrapper
			#container
				#page_header
					h1 
						span @titulo
					#page_search
						form(action="#")
							#1
								h3 Search:
								input(type="text")
								input(type="submit" value="Go" class="button")
				#mainmodel 
					&nbsp
				#mainarea
					#navmenu
						ul
							li(id="menu_1")
								a(href="#" title="Home")
									span Home
							li(id="menu_2")
								a(href="#" title="Store")
									span Store
							li(id="menu_3")
								a(href="#" title="FAQ")
									span FAQ
							li(id="menu_4")
								a(href="#" title="Resource")
									span Resource
							li(id="menu_5")
								a(href="#" title="Contact")
									span Contact
						#2(class="clearthis")
					#mainarea_2
						#3(class="inner_copy")
						#categorymenu
							ul
								li(id="catmenu_1")
									a(href="#" title="Top")
										span Top
								li(id="catmenu_2")
									a(href="#" title="Bottoms")
										span Bottoms
								li(id="catmenu_3")
									a(href="#" title="Skirts")
										span Skirts
								li(id="catmenu_4")
									a(href="#" title="Handbags")
										span Handbags
								li(id="catmenu_5")
									a(href="#" title="Shoes")
										span Shoes
						#maincontent_1
							#maincontent_2
								#maincontent_3
									#featured
										h2
											span Featured Products
										#4(class="thumbnail")
											img(src="images/featured_thumbnail.gif" width="68" height="93" alt="")
										p This is a template designed by free website templates for you for free you can replace all the text with your own text.
										#5link_details
											a(href="#") Get Details
									#skirts
										h2
											span 03 Skirts
										#6(class="thumbnail")
											img(src="images/03skirts_thumbnail.gif" width="68" height="93" alt="")
										p If you're looking for beautiful and professionally made templates you can find them at 
											a(href="http://www.templatebeauty.com") Template Beauty
										#7(class="link_details")
											a(href="#nolink/") Get Details
									#8(class="clearthis")
				#page_footer
					#designby
						#9
							p Copyright statement.
						#10(class="fclear")
						#11
							p Encuentre m&aacute;s plantillas web gratis 
								a(href="http://www.mejoresplantillasgratis.es" target="_blank") en MPG
						#12(class="fclear")
					#footer_links
						a(href="#") Home | 
						a(href="#") Store | 
						a(href="#") FAQ | 
						a(href="#") Resource | 
						a(href="#") Contact
					#13(class="clearthis")