extends ../../../views/layout

block content

	if usuario

		#requerimientos
			h2 REQUERIMIENTOS DE PÁGINA
			table
				tr
					td(colspan="2")
						#reqPortafolio
							h3 Portafolio y Apariencia
							form(method="POST", action="/plantillas/reqPortafolio")
								table
									tr
										td
											p Nombre Página
										td#celdaCentrada
											input(type="text" name="nombrePagina")
										td#celdaCentrada(rowspan="4" colspan="2")
											img(id="imagenPlantilla" src='/images/plantilla1.jpg')
									tr
										td
											p Logo Página
										td#celdaCentrada 
											input(type="file" name="logo" class="filestyle" data-buttonName="btn btn-success" data-size="sm" data-icon="false")
									tr
										td
											p Categoría de productos
										td#celdaCentrada
											select(name="categoría" class="form-control")
												option(value="comida") Comida
												option(value="automotriz") Automotriz 
												option(value="tecnologico") Tecnológico
												option(value="ropa") Ropa
									tr
										td
											p Plantilla 
										td#celdaCentrada
											select( id="selectPlantilla" name="plantilla" class="form-control")
												option(value="plantilla1") Plantilla 1
												option(value="plantilla2") Plantilla 2
												option(value="plantilla3") Plantilla 3
									tr
										td
											p Número de páginas
										td
											input(type="text" name="numPaginas")
										td
											p Redes sociales:
										td
											input(type="checkbox" name="redes" value="facebook") 
											span Facebook &nbsp
											input(type="checkbox" name="redes" value="twitter") 
											span Twitter 
											br 
											input(type="checkbox" name="redes" value="google+") 
											span Google+ &nbsp
											input(type="checkbox" name="redes" value="instagram") 
											span Instagram 
									tr
										td
											p E-mail
										td
											input(type="text" name="contactoEmail")
										td
											p Teléfono
										td
											input(type="text" name="contactoTelefono")
									tr
										td
											p Dirección
										td
											input(type="text" name="direccionLocal")
										td
											p Responsable
										td
											input(type="text" name="responsable")
									tr
										td#celdaCentrada(colspan="4")
											button(type="submit" class="btn btn-primary") Enviar
				tr#req23
					td
						#reqPagos
							h3 Tipos de Pago
							form(method="POST", action="/plantillas/reqPagos")

								table
									tr
										td
											input(type="checkbox" name="pago" value="viaBaloto") 
											span Via Baloto 
										td#celdaCentrada
											img(src='/images/viaBaloto.png')
									tr
										td
											input(type="checkbox" name="pago" value="pse") 
											span Transferencia bancaria PSE
										td#celdaCentrada
											img(src='/images/pse.png')
									tr
										td
											input(type="checkbox" name="pago" value="credito") 
											span Tarjeta Crédito
										td#celdaCentrada
											img(src='/images/credito.png')
									tr
										td
											input(type="checkbox" name="pago" value="debito") 
											span Tarjeta Débito
										td#celdaCentrada
											img(src='/images/debito.png')
									tr
										td
											input(type="checkbox" name="pago" value="payPal") 
											span Paypal
										td#celdaCentrada
											img#imgPagos(src='/images/payPal.png')
									tr
										td
											input(type="checkbox" name="pago" value="skrill") 
											span Skrill
										td#celdaCentrada
											img#imgPagos(src='/images/skrill.png')
									tr
										td
											input(type="checkbox" name="pago" value="westernUnion") 
											span Western Union
										td#celdaCentrada
											img#imgPagos(src='/images/westernUnion.png')
									tr
										td
											input(type="checkbox" name="pago" value="pagoContraEntrega") 
											span Pago contra entrega
										td#celdaCentrada
											img#imgPagos(src='/images/puerta.jpg')
									tr
										td#celdaCentrada(colspan="2")
											button(type="submit" class="btn btn-primary") Enviar

					td
						#reqPromociones
							h3 Promociones
							form(method="POST", action="/plantillas/reqPromociones" enctype="multipart/form-data")
								table
									tr
										td
											input(type="checkbox" name="promocion" value="cupones") 
											span  cupones de descuento
										td#celdaCentrada
											img(src='/images/cupones.jpg')
									tr
										td
											input(type="checkbox" name="promocion" value="descuentosDirectos") 
											span Descuentos directos
										td#celdaCentrada
											img(src='/images/descuento.jpg')
									tr
										td
											input(type="checkbox" name="promocion" value="concursos") 
											span Concursos
										td#celdaCentrada
											img(src='/images/concurso.jpg')
									tr
										td
											input(type="checkbox" name="promocion" value="reembolsos") 
											span Reembolsos
										td#celdaCentrada
											img(src='/images/reembolso.png')
									tr
										td
											input(type="checkbox" name="promocion" value="transporte") 
											span Transporte gratis
										td#celdaCentrada
											img(src='/images/transporte.jpg')
									tr
										td#celdaCentrada(colspan="2")
											button(type="submit" class="btn btn-primary") Enviar
				tr
					td(colspan="2")
						#vistaPrevia
							table
								tr
									td#celdaCentrada
										button(type="button" class="btn" name="botonVistaPrevia") 
											a(href="/plantillas/vistaprevia") Vista Previa Página
									td#celdaCentrada
										button(type="button" class="btn" name="botonDescargar") 
											a(href="/plantillas/descargar") Descargar Página
	else 
		h1 ¡LO SENTIMOS!
		#disculpa
			img(src='/images/triste.jpg')
			p Tienes que registrarte o validarte para ingresar requerimientos
			a(href='/clientes/registrar') Click aqui para registrarte